@model IEnumerable<PersonalGcba.Models.Empleado> 
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function DeleteConfirm() {
        if (confirm("Seguro que desea eliminar el empleado seleccionado?"))
            return true;
        else
            return false;
    }
</script>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de Empleados</h6>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dni)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaNacimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Desarrollador)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdArea)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desarrollador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdArea)
                        </td>
                        <td>
                            <a href="@Url.Action("Update","User",new {id=item.Id})"><i class="fas fa-user-edit" style="font-size: 18px;"></i></a>
                            <a onclick="return  DeleteConfirm()" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-user-minus" style="color: red; font-size: 18px;"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>